@import "../style_base";

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  overflow-x: hidden;

  @include media-breakpoint-up(xl) {
    font-size: 21px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p, li, dd, dt {
  a {
    color: $accent;
    transition: color 0.2s;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html,
body,
body > div,
body > div > div {

  height: 100%;
}

body > div > div  {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

:global .muted {
  opacity: 0.7;
}
